.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 60%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn:disabled {
  cursor: default;
}

.btn:-moz-focusring {
  outline: auto;
}

.btn svg {
  display: block;
  vertical-align: middle;
}

.btn [hidden] {
  display: none;
}

.btn {
  border-width: 1px;
  border-radius: 4px;
  padding: 1em 2em;
  position: relative;
  text-transform: uppercase;
}

.btn:before {
  --progress: 100%;
  background: #af2174bb;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn:hover:before {
  --progress: 0%;
}

.btn .textContainer {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}
